
<nav class="navbar navbar-light navbar-expand-lg fixed-top bg-white clean-navbar">
  <div class="container"><a class="navbar-brand logo" href="#">Building APIs</a>
    <button class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navcol-1"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
    <div class="collapse navbar-collapse" id="navcol-1">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item"><a class="nav-link active" href="index.html">Home</a></li>
        <li class="nav-item">
          <div class="nav-item dropdown"><a class="dropdown-toggle nav-link" aria-expanded="false" data-bs-toggle="dropdown" href="#">Categories</a>
            <div class="dropdown-menu"><a class="dropdown-item nav-link" href="category1.html">Category 1</a><a class="dropdown-item nav-link" href="category2.html">Category 2</a><a class="dropdown-item nav-link" href="category3.html">Category 3</a><a class="dropdown-item nav-link" href="category4.html">Category 4</a></div>
          </div>
        </li>
        <li class="nav-item"><a class="nav-link" href="login.html">Login</a></li>
        <li class="nav-item"><a class="nav-link" href="cart.html">Cart</a></li>
      </ul>
    </div>
  </div>
</nav>